<div class="row" style="padding-top:5%">

    <div class="col m4" style="cursor:pointer;" (click)="configurarSistemas()">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title grey-text text-darken-4 center-align">Configurar Sistemas
                </span>
                <div class="card-image ">
                    <img style="width:60%;margin-left:20%;" src="./assets/img/icons/sistemas.svg">
                </div>
            </div>
        </div>
    </div>


    <div class="col m4" style="cursor:pointer;" (click)="configurarLogs()">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title grey-text text-darken-4 center-align">Configurar Logs
                </span>
                <div class="card-image ">
                    <img style="width:60%;margin-left:20%;" src="./assets/img/icons/config.svg">
                </div>
            </div>
        </div>
    </div>


    <div class="col m4" style="cursor:pointer;" (click)="exibirMonitor()">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title grey-text text-darken-4 center-align">Monitorar Logs
                </span>
                <div class="card-image ">
                    <img style="width:60%;margin-left:20%;" src="./assets/img/icons/logs.svg">
                </div>
            </div>
        </div>
    </div>

</div>