<div class="row" style="padding-top:5%">

    <div class="col m4" style="cursor:pointer;" (click)="configurarSistemas()">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title grey-text text-darken-4 center-align">Gerenciar Motoristas
                </span>
                <div class="card-image ">
                    <img style="width:60%;height:200px;margin-left:20%;" src="./assets/img/icons/Motorista.svg">
                </div>
            </div>
        </div>
    </div>


    <div class="col m4" style="cursor:pointer;" (click)="configurarLogs()">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title grey-text text-darken-4 center-align">Gerencias Translados
                </span>
                <div class="card-image ">
                    <img style="width:60%;height:200px;margin-left:20%;" src="./assets/img/icons/Translados.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="col m4" style="cursor:pointer;" (click)="configurarLogs()">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title grey-text text-darken-4 center-align">Gerencias Alunos
                </span>
                <div class="card-image ">
                    <img style="width:60%;height:200px;margin-left:20%;" src="./assets/img/icons/Alunos.svg">
                </div>
            </div>
        </div>
    </div>


</div>