<div class="row" style="padding-top:5%">

    <div class="col m4 mobo" style="cursor:pointer;" (click)="configurarMotoristas()">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title grey-text text-darken-4 center-align">Gerenciar Motoristas
                </span>
                <div class="card-image ">
                    <img class="img-btn-dashboard" src="./assets/img/icons/Motorista.svg">
                </div>
            </div>
        </div>
    </div>


    <div class="col m4 mobo" style="cursor:pointer;" (click)="configurarTranslados()">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title grey-text text-darken-4 center-align">Gerenciar Translados
                </span>
                <div class="card-image ">
                    <img class="img-btn-dashboard" src="./assets/img/icons/Translados.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="col m4 mobo" style="cursor:pointer;" (click)="configurarAlunos()">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title grey-text text-darken-4 center-align">Gerenciar Alunos
                </span>
                <div class="card-image ">
                    <img class="img-btn-dashboard" src="./assets/img/icons/Alunos.svg">
                </div>
            </div>
        </div>
    </div>


</div>