.preloader {
  position: absolute;
  top: 45%;
  left: 45%;
  margin: 50px auto;
  width: 60px;
  height: 60px;
}
.preloader .hosting{
height:100%;
text-align: center;
font-size:16px;
line-height: 35px;
color: #777; 
position: relative;
vertical-align: baseline;
padding-left: 35px;
padding-top: 45px;
}

.preloader .house0:before {
  content:'';
  position: absolute;
  left:-57px;
  top: -12px;
  border-style: solid;
  border-width: 14px 16px;
  border-color: transparent transparent #084DA1 transparent;
  animation: bounce 1.6s infinite linear;
  display: inline-block;
  
}
.preloader .house0:after {
  content:'';
  position: absolute;
  left:-57px;
  top: 16px;
  width: 32px;
  height: 23px;
  background-color:#084DA1 ;
  display: inline-block;
  animation: bounce 1.6s infinite linear;
}
.preloader .house:before {
  content:'';
  position: absolute;
  left:3px;
  top: -12px;
  border-style: solid;
  border-width: 14px 16px;
  border-color: transparent transparent #F7931D transparent;
  animation: bounce 1.5s infinite linear;
  display: inline-block;
  
}
.preloader .house:after {
  content:'';
  position: absolute;
  left:3px;
  top: 16px;
  width: 32px;
  height: 23px;
  background-color:#F7931D ;
  display: inline-block;
  animation: bounce 1.5s infinite linear;
}


.preloader .house2:before {
  content:'';
  position: absolute;
  left:60px;
  top: -12px;
  border-style: solid;
  border-width: 14px 16px;
  border-color: transparent transparent #084DA1 transparent;
  animation: bounce 1.4s infinite linear;
}
.preloader	.house2:after {
  content:'';
  position: absolute;
  left:60px;
  top: 16px;
  width: 32px;
  height: 23px;
  background-color:#084DA1 ;
  animation: bounce 1.4s infinite linear;
}
.preloader .house3:before {
  content:'';
  position: absolute;
  left:120px;
  top: -12px;
  border-style: solid;
  border-width: 14px 16px;
  border-color: transparent transparent #F7931D transparent;
  animation: bounce 1.3s infinite linear;
}
.preloader	.house3:after {
  content:'';
  position: absolute;
  left:120px;
  top: 16px;
  width: 32px;
  height: 23px;
  background-color:#F7931D ;
  animation: bounce 1.3s infinite linear;
}
.preloader .house4:before {
  content:'';
  position: absolute;
  left:180px;
  top: -12px;
  border-style: solid;
  border-width: 14px 16px;
  border-color: transparent transparent #084DA1 transparent;
  animation: bounce 1.2s infinite linear;
}
.preloader .house4:after {
  content:'';
  position: absolute;
  left:180px;
  top: 16px;
  width: 32px;
  height: 23px;
  background-color:#084DA1 ;
  animation: bounce 1.2s infinite linear;
}

.preloader .house0:nth-child(1){
animation-delay: .0s;
}
.preloader .house:nth-child(1){
animation-delay: .2s;
}

.preloader .house2:nth-child(1){
animation-delay: .4s;
}
.preloader .house3:nth-child(1){
animation-delay: .6s;
}
.preloader .house4:nth-child(1){
animation-delay: .8s;
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  15% {
      transform: translateY(-15px);
  }
  30% {
      transform: translateY(0);
  }
}
