.collapsible-body{
    padding: 10px;
}


.collapsible-header.list-sistemas i{
    width: 2.5rem;
}

.btn-edit{
    cursor: pointer;
}

.header-img{
    vertical-align: middle;
    margin-bottom: 0.75em;
}

.header-modal{
    padding:10px;font-size:35px;
}

.form-padding-default{
    padding: 20px;
}