<ng4-loading-spinner [threshold]="2000" [template]="" [loadingText]="loadingText" [zIndex]="9999">
  </ng4-loading-spinner>
  
  <!-- Modal Trigger -->
  <section id="#usuario">
    <div class="hide-on-small-only">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <form #formUsuario="ngForm" (ngSubmit)="submitFormUsuario(formUsuario)">
                <div class="row">
                  <div class="modal-content">

                      <div class="row"  style="margin-bottom: 0px;">
                          <div class="col s12 m6 valign-wrapper">
                              <i class="medium material-icons left">account_box</i>
                              <h4>Meu Perfil</h4>
                          </div>
                      </div>

                      <div class="divider"></div>
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">person</i>
                        <input [(ngModel)]="usuarioModel.name" name="usuario_name" type="text">
                        <label for="icon_prefix">Nome</label>
                      </div>
                      <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input [(ngModel)]="usuarioModel.email" name="usuario_email" type="text">
                        <label for="icon_telephone">Email</label>
                      </div>
                      <div class="input-field col s12">
                        <i class="material-icons prefix">phone</i>
                        <input [(ngModel)]="usuarioModel.phone" name="usuario_phone" type="text" placeholder="(00)00000-0000" mask="(00)00000-0000">
                        <label for="icon_telephone">Telefone</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="right-align">
                  <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>